.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-color {
    background-color: black;
}

.navbar-brand {
    width: 200px;
    margin-right: 0;
}

.nav-item {
    font-weight: bold;
    font-size: 105%;
}

.nav-item-2 {
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.nav-button {
    cursor: pointer;
}

#dropdown{
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 105%;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}