.center {
    margin: 0 auto;
}

#value{
    width: 3.5cm;
    height: 3.5cm;
}

@media (max-width: 577px) {
    #value {
        width: 2.5cm;
        height: 2.5cm;
    }
}

.values {
    padding-bottom: 0cm;
}