.owl-carousel .owl-stage-outer {
    margin-bottom: 0.5cm;
}

.center {
    margin: 0 auto;
}

#our-partners {
    margin-top: 0.5cm!important;
}

#value{
    width: 3.5cm;
    height: 3.5cm;
}

@media (max-width: 577px) {
    #value {
        width: 2.5cm;
        height: 2.5cm;
    }
}

.values {
    margin-bottom: 1cm;
}