.productpage {
    margin-top: 3cm;
    display: flex;
}

.productpage .products .product-grid {
    margin-right: 1cm;
    margin-left: 1cm;
}

.productpage .products .search-bar {
    width: 80%;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

