.productpage {
    margin-top: 3cm;
}

@media (min-width: 992px) {
    .sidebar {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

@media (min-width: 992px) {
    .productpage .product-grid {
        margin-right: 1cm;
        margin-left: 1cm;
    }

}
@media (max-width: 992px) {
    .productpage .product-grid {
        margin-right: 1cm;
        margin-left: 1cm;
    }

    .sidebar {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}


.card-body {
    padding: 0.5rem;
}

.products .pagination {
    padding-top: 1cm;
}

.products .search-bar {
    width: 80%;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
