.card {
    background-color: white;
    /* box-shadow: 5px 5px 5px rgb(160, 160, 160); */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    /* border-color: rgb(218, 218, 218); */
    border-radius: 10px;
    transition: all 500ms linear;
    object-fit: cover;
    justify-content: center;
}

.card-footer {
    background: transparent;
    border-top: transparent;
    transition: all 500ms linear;
}
.card-footer:hover {
    background: rgb(186, 185, 185);
}

.img-container {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.card-img-top {
    transition: all 500ms linear;
}

.card-img-top:hover{
    transform: scale(1.2);
}

.cart-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
    transition: all 500ms linear;
    transform: translate(100%, 100%);
}

.row {
    justify-content: center;
    align-items: center;
}

/* .card-container {
    margin: 15px!important;
    justify-content: center;
    align-items: center;
} */

.img-container:hover .cart-btn{
    transform: translate(0, 0);
}

.cart-btn:hover {
    background-color: black;
    fill: white;
    cursor: pointer;
}