.card-item {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
}

.card-footer {
    background: transparent;
    border-top: transparent;
    transition: all 500ms linear;
}
.card-footer:hover {
    background: rgb(186, 185, 185);
}

.card-item .card-body {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.card-item .card-body .card-img-top {
    transition: all 500ms linear;
    background-size: cover;
    background-position: center;
    height: 250px;
    justify-content: center;}

.card-item .card-body .card-img-top:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.card-item .card-body:hover .cart-btn{
    transform: translate(0, 0);
}

.cart-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
    transition: all 500ms linear;
    transform: translate(100%, 100%);
}

.row {
    justify-content: center;
    align-items: center;
}

.cart-btn:hover {
    background-color: black;
    fill: white;
    cursor: pointer;
}