.profile-button {
    width: 80%;
    text-align: center;
    height: 2cm;
    color: black;
}

.profile-button:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(191, 191, 191);
}

a:hover {
    text-decoration: none!important;
}