.authentication-page {
    width: 80%;
    margin: auto;
    display: flex;
    padding-bottom: 4cm;
}

.authentication-page .register {
    width: 90%;
    margin: auto;
}

.authentication-page .register_form{
    justify-content: center;
    padding-top: 1cm;
}

.authentication-page h6 {
    text-align: center;
}

.authentication-page .register_form_box{
    width: 100%;
}

.authentication-page .register_title {
    margin-top: 1cm;
    font-size: 1cm;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

.authentication-page button:disabled{
    cursor: no-drop;
}

.authentication-page .small-page {
    display: inline;
    width: 100%;
}