.cart-page {
    padding-top: 3cm;
    margin-bottom: 2cm;
}

.cart-page h1  {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-family: 'Sarabun', sans-serif;
}

.cart-page .row {
    margin-bottom: 2cm;
    margin-top: 1cm;
    justify-content: center;
    align-items: center;
}

.cart-page .row .cart-table {
    width: 110%;
}

.cart-page .row .table {
    width: 80%;
}

.cart-page .btn {
    margin-right: 1cm;
    font-weight: 700;
}

.cart-page .btn:disabled {
    cursor: no-drop;
}

.cart-page .test-warning {
    text-align: center;
    color: red;
}