.security-page {
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: auto;
    margin-right: auto;
    width: 10cm;
}

.security-page .form-container .form-title {
    margin-top: 1cm;
    font-size: 1cm;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.security-page .reset-password-form button:disabled{
    cursor: no-drop;
}