.grid {
    justify-content: center;
}

.grid .card {
    margin: 7px;
}

.grid .pagination {
    padding-top: 1cm;
}

.grid .search-bar {
    width: 80%;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
