@media (min-width: 992px) {
    .sidebar {
        margin-top: 5cm;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-right: 1px solid rgb(155, 155, 155);
    }

    .sidebar .sidebar-header {
        margin-bottom: 0.5cm;
        font-weight: 700;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 70%;
        margin-top: 2cm;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1cm;
        padding-bottom: 1cm;
        border-bottom: 1px solid rgb(155, 155, 155);
    }

    .sidebar .sidebar-header {
        margin-left: 0.5cm;
        margin-bottom: 0.5cm;
        font-weight: 700;
    }
}

.sidebar.dropped .sidebar-header {
    font-weight: 700;
}

.toggle {
    margin-right: 0.5cm;
}

.sidebar-header:hover {
    cursor: pointer;
}

.sidebar-header {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.sidebar-header .sidebar-header-title {
    width: 80%;
    display: block;
}

.sidebar-header .toggle {
    width: 20%;
    display: block;
    text-align: right;
}

.sidebar.dropped .items {
    padding-left: 1.5cm;
}

.sidebar-cell {
    margin: 0.5cm;
    padding: 0.25cm;
    border-bottom: 1px solid gray;
}

.sidebar-cell-2 {
    margin: 0.5cm;
    padding: 0.25cm;
}