.footer {
	padding: 2cm;
}

.footer .footer-shop-icon {
	margin-bottom: 1cm;
	text-align: center;
	font-size: small;
	color: gray;
}

.footer .footer-shop-icon .icon-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.25cm;
}

.footer .footer-nav-links {
	margin-bottom: 1cm;
	text-align: center;
}

.footer .footer-nav-links .footer-nav-link {
	display: inline-block;
	margin-left: 1cm;
	margin-right: 1cm;
}

.footer .footer-nav-links .footer-nav-link a {
	color: white;
	font-weight: 700;
}

.footer .footer-nav-links .footer-info-link {
	display: inline-block;
	margin-left: 0.5cm;
	margin-right: 0.5cm;
}