.style {
    margin-top: 1cm;
    font-size: 1cm;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 1cm;
}

.style a,
.style a:hover{
    color: black;
    text-decoration: none;
}

@media (max-width: 770px) {
    .style {
        text-align: center;
        margin-left: 0;
    }
}

.background { 
    position: fixed;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.App {
    position: relative;
    min-height: 100vh;
}

main #content-wrap {
    margin-top: 70px;
    background-color: transparent!important;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    padding-bottom: 12cm;
}

main #footer {
    position: absolute;
    font-family: 'Spartan', sans-serif;
    bottom: 0;
    width: 100%;
    height: 12cm;
    justify-content: center;
	background-color: black;
	box-sizing: border-box;
	text-align: left;
	font: bold 15px sans-serif;
	padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
	padding-bottom: 70px;
}

