.profile-page {
    padding-top: 5cm;
    margin-bottom: 4cm;
}

.profile-page .row {
    margin-right: none;
}

.profile-page .user-info {
    padding-left: 2cm;
    padding-right: 2cm;
}

.profile-page .user-info .form-group .form-label {
    font-weight: 700;
}

.profile-page .user-info button {
    width: 100%;
    margin-bottom: 5px;
}