.profile-page {
    padding-top: 5cm;
    margin-bottom: 4cm;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.profile-page .options-row .options-col {
    display: flex;
    justify-content: center;
}



/* 
.profile-page .row {
    margin-right: none;
}

.profile-page .user-info {
    padding-left: 2cm;
    padding-right: 2cm;
}

.profile-page .user-info .form-group .form-label {
    font-weight: 700;
}

.profile-page .user-info button {
    width: 100%;
    margin-bottom: 5px;
} */